:root {
    --primary-color: #a569c3;
    --secondary-color: #eee3f1;
    --text-color: #4d4351;
    --white-color: #fff;
    --button-color: #3a0159;
    --button2-color: #006357;
    /* Add more color variables as needed */
  }
  